<!-- Footer section end -->

<!-- Javascript Files
================================================== -->
<!-- initialize jQuery Library -->
<script type="text/javascript" src="js/jquery.js"></script>
<!-- Bootstrap jQuery -->
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<!-- Owl Carousel -->
<script type="text/javascript" src="js/owl.carousel.js"></script>
<!-- PrettyPhoto -->
<script type="text/javascript" src="js/jquery.prettyPhoto.js"></script>
<!-- Bxslider -->
<script type="text/javascript" src="js/jquery.bxslider.min.js"></script>
<!-- Isotope -->
<script type="text/javascript" src="js/jquery.isotope.min.js"></script>
<!-- Wow Animation -->
<script type="text/javascript" src="js/wow.min.js"></script>
<!-- SmoothScroll -->
<script type="text/javascript" src="js/smoothscroll.js"></script>
<!-- Animated Pie -->
<script type="text/javascript" src="js/jquery.easy-pie-chart.js"></script>


<!-- Template custom -->
<script type="text/javascript" src="js/custom.js"></script>