<!-- Team page start -->
<section id="Team-page">
    <div class="container">
        <div class="row">
            <div id="team-carousel" class="owl-carousel owl-theme team-carousel team-page">
                <div class="item">
                    <div class="page-team-wrapper">
                        <div class="team-image-wrapper">
                            <div class="team-image-wrapper-hover">
                                <div style="color: white; font-size: large">
                                    Huile essentielle De Céleri
				</div>
                            </div>
                            <img alt="" src="images/team/team1.png" class="img-responsive">
                        </div>
                        <div class="team-content">
                            <h3 class="name">
                                Huile Essentielle De Céleri
                            </h3>
                            <p class="team-text">
                                L’huile essentielle du céleri possède des propriétés stimulantes hépatique et rénale, drainante, sédative et anti-pigmentaire. 
                                L’huile essentielle de céleri drainante est très efficace pour détoxifier l’organisme. L’huile essentielle de céleri stimulante active le travail du foie et des reins. 
                                L’huile essentielle de céleri active la production de bile par le foie et facilite ainsi le travail digestif et le transit intestinal. 
                                L’huile essentielle de céleri anti-pigmentaire permet d’estomper rapidement les taches cutanées, les taches de vieillesse, les angiomes et les taches solaires
                                L’huile essentielle de céleri tonique et sédative est utilisée pour les états dépressifs, les manques de tonus et d’envie, ainsi que les asthénies.
                            </p>
                        </div>
                    </div><!--/ Team wrapper end -->
                </div><!--/ Item 1 end -->
                <div class="item">
                    <div class="page-team-wrapper">
                        <div class="team-image-wrapper">
                            <div class="team-image-wrapper-hover">
                                <div style="color: white; font-size: large">
                                    Huile essentielle De Fenouil
                                </div>
                            </div>
                            <img alt="" src="images/team/team2.png" class="img-responsive">
                        </div>
                        <div class="team-content">
                            <h3 class="name">
                                Huile Essentielle De Fenouil
                            </h3>
                            <p class="team-text">
                                L’huile essentielle du fenouil est antibactérienne, antimycosique et antispasmodique. 
                                Elle est digestive et stomachique : elle soulage  les troubles digestifs et hépatiques, les affections urinaires comme la lithiase, les coliques, la constipation, les nausées, les indigestions, ainsi que les gaz et les parasites intestinaux. 
                                Elle est emménagogue : elle soulage les règles difficiles et douloureuses (aménorrhées, dysménorrhées). 
                                Elle est galactagogue : elle facilite la lactation. 
                            </p>
                        </div>
                    </div><!--/ Team wrapper end -->
                </div><!--/ Item 2 end -->
                <div class="item">
                    <div class="page-team-wrapper">
                        <div class="team-image-wrapper">
                            <div class="team-image-wrapper-hover">
                                <div style="color: white; font-size: large">
                                    Huile essentielle du Carvi
                                </div>
                            </div>
                            <img alt="" src="images/team/team3.png" class="img-responsive">
                        </div>
                        <div class="team-content">
                            <h3 class="name">
                                Propriétés de l’huile essentielle du Carvi 
                            </h3>
                            <p class="team-text">
                                L’huile essentielle  du carvi est antispasmodique, anticatarrhale et mucolytique. 
                                Elle est également, cholagogue (facilite l'évacuation de la bile de la vésicule biliaire vers l'intestin), cholérétique (stimule la sécrétion de bile par le foie). 
                                Elle est apéritive, digestive et favorise l'élimination des spasmes, des gaz et des parasites. 
                                L’huile essentielle du carvi est bénéfique en cas d’insuffisance hépato-biliaire, d’Indigestions, de présence de parasites intestinaux, contre les spasmes gastriques, la dyspepsie (nerveuses, émotionnelles ou fonctionnelles), l’aérophagie, les flatulences, les bronchites, la catarrhale aiguë, le stress et fatigue mentale.
                            </p>
                        </div>
                    </div><!--/ Team wrapper end -->
                </div><!--/ Item 3 end -->
                <div class="item">
                    <div class="page-team-wrapper">
                        <div class="team-image-wrapper">
                            <div class="team-image-wrapper-hover">
                                <div style="color: white; font-size: large">
                                    Huile essentielle de la coriandre
                                </div>
                            </div>
                            <img alt="" src="images/team/team4.png" class="img-responsive">
                        </div>
                        <div class="team-content">
                            <h3 class="name">
                                Propriétés de l’huile essentielles de la coriandre
                            </h3>
                            <p class="team-text">
                                L’huile essentielle de la coriandre a des propriétés antibactérienne, antivirale, antifongique, calmante, sédative et stupéfiante à forte dose. 
                                L’huile essentielle de coriandre est très efficace pour soulager les troubles digestifs : flatulence ou spasmes digestifs, car elle favorise la sécrétion de sucs gastriques. 
                                Elle a aussi un fort pouvoir drainant, nettoyant et purgatif. 
                                L’huile essentielle de coriandre, anesthésiante, est aussi très utile pour soulager les rhumatismes, les douleurs articulaires et les douleurs d’arthrose. 
                                Elle est également un très bon stimulant général, qui agit aussi bien pour le corps que pour l’esprit. 
                                Elle permet de lutter efficacement contre les troubles du sommeil, l’anxiété, le stress, et la fatigue, tant physique qu’intellectuelle (elle stimule aussi la mémoire) et nerveuse. 
                                Elle peut être aussi utilisée dans le cas de troubles de l’appétit. Elle possède également un effet aphrodisiaque. 
                            </p>
                        </div>
                    </div><!--/ Team wrapper end -->
                </div><!--/ Item 4 end -->
                <div class="item">
                    <div class="page-team-wrapper">
                        <div class="team-image-wrapper">
                            <div class="team-image-wrapper-hover">
                                <div style="color: white; font-size: large">
                                    Huile essentielle du girofle
                                </div>
                            </div>
                            <img alt="" src="images/team/team5.png" class="img-responsive">
                        </div>
                        <div class="team-content">
                            <h3 class="name">
                                Propriétés de l’huile essentielle du girofle
                            </h3>
                            <p class="team-text">
                                La présence de l’eugénol dans cette huile essentielle lui confère des propriétés anti-inflammatoire, antifongique, antibactérienne très puissante (à large spectre d'action fongicide)  et analgésique. 
                                Elle est également parasiticide, vermifuge, stomachique, carminative, antivirale, et stimulante immunitaire. 
                                Elle possède aussi des propriétés stimulantes générales, neurotonique, utérotonique,  aphrodisiaque légère, cautérisante cutanée et pulpaire. 
                                L’huile essentielle de clou de girofle est anesthésique et antiseptique et soulage une rage de dents. 
                                Trois gouttes d’huile essentielle de clou de girofle sur un coton tige appliqué directement sur la dent infectée suffisent pour engloutir le nerf et stopper la douleur, en attendant de consulter le dentiste pour soigner l’infection. 
                                Les propriétés antibactérienne, antifongique et antivirale de l’huile essentielle de clou de girofle lui permettent de lutter contre les grippes, les mycoses et également de stimuler le  système immunitaire. 
                                L’huile essentielle de clou de girofle est anti-inflammatoire et soulage ainsi les gastrites, les rhumatismes et les douleurs musculaires.
                            </p>
                        </div>
                    </div><!--/ Team wrapper end -->
                </div><!--/ Item 5 end -->
                <div class="item">
                    <div class="page-team-wrapper">
                        <div class="team-image-wrapper">
                            <div class="team-image-wrapper-hover">
                                <div style="color: white; font-size: large">
                                    Huile essentielle de la marjolaine
                                </div>
                            </div>
                            <img alt="" src="images/team/team6.png" class="img-responsive">
                        </div>
                        <div class="team-content">
                            <h3 class="name">
                                Propriétés de l’huile essentielle de la marjolaine
                            </h3>
                            <p class="team-text">
                                Les principaux composés de l’huile essentielle de marjolaine sont les α et β terpinènes, le thuyanol et le sabinène. 
                                Grâce à ces composés l’huile essentielle de marjolaine a des propriétés antibactériennes, anaphrodisiaques, désinfectantes, stimulantes, relaxantes, sédatives, antifatigues et antimycosiques. 
                                Elle apaise les rhumatismes et les lumbagos. 
                                Cette huile essentielle est indiquée contre les troubles nerveux de type tension, dépression et anxiété. 
                                Elle soulage leurs conséquences sur l’organisme (spasmes digestifs, flatulences, coliques, fatigue...). 
                                Elle est également utilisée pour lutter contre les troubles du sommeil, les migraines et les douleurs liées aux règles (spasmes utérins). 
                                Elle agit contre le rhume et les troubles bronchiques. 
                                Elle calme la toux et la sinusite.
                            </p>
                        </div>
                    </div><!--/ Team wrapper end -->
                </div><!--/ Item 6 end -->
                <div class="item">
                    <div class="page-team-wrapper">
                        <div class="team-image-wrapper">
                            <div class="team-image-wrapper-hover">
                                <div style="color: white; font-size: large">
                                    Huile essentielle du cumin
                                </div>
                            </div>
                            <img alt="" src="images/team/team7.png" class="img-responsive">
                        </div>
                        <div class="team-content">
                            <h3 class="name">
                                Propriétés de l’huile essentielle du cumin
                            </h3>
                            <p class="team-text">
                                Elle est carminative, apéritive, tonique, stimulante digestive et Antispasmodique. 
                                En effet, elle est très efficace pour soulager les problèmes de digestion, notamment l’aérophagie et les spasmes digestifs. 
                                Elle est aussi drainante et nettoyante. 
                                Elle est apéritive et peut être utile en cas d’anémie et d’asthénie. 
                                Calmante, sédative nerveuse et relaxante, l’huile essentielle de cumin agit également très bien sur le système nerveux et est reconnue très efficace pour soigner les insomnies et les angoisses. 
                                L’huile essentielle de cumin a aussi des vertus anti-inflammatoires. 
                                De ce fait, elle est aussi préconisée pour soulager les douleurs d’arthrite et rhumatismales
                            </p>
                        </div>
                    </div><!--/ Team wrapper end -->
                </div><!--/ Item 6 end -->
            </div>
        </div><!--/ Team row end -->
    </div><!--/ container end -->
</section><!-- Team page end -->