<section id="Contact-page">
    <div class="container">
        <div class="row">
            <!-- Map start here -->
            <div class="map" id="map"></div>
            <!-- Map end here -->
            <!-- Contact form start -->
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                <div class="contact-form">
                    <h3>Nous Contacter</h3>
                    <form action="contact-form.php" method="post" role="form">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Nom & Prenom</label>
                                    <input class="form-control" name="name" id="name" placeholder="" type="text" required>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Email</label>
                                    <input class="form-control" name="email" id="email" placeholder="" type="email" required>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Sujet</label>
                                    <input class="form-control" name="subject" id="subject" placeholder="" required>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Message</label>
                            <textarea class="form-control" name="message" id="message" placeholder="" rows="8" required></textarea>
                        </div>
                        <div>
                            <br>
                            <button class="btn btn-primary" type="submit">Envoyer</button> 
                        </div>
                    </form>
                </div><!-- Contact form end -->	
            </div> <!-- Col end -->

            <!-- sidebar start -->
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="contact-info">
                    <h3>Pour amples information</h3>
                    <p>Contacter Moez Smiti</p>
                    <br>
                    <p><i class="fa fa-home"></i>10- Rue Ibnou Hani</p>
                    <p><i class="fa fa-phone"></i>(+216) 98 422 040</p>
                    <p><i class="fa fa-envelope-o"></i>contact@aromes-saint-germain.com</p>
                    <p><i class="fa fa-globe"></i>http://www.aromes-saint-germain.com</p>
                </div>
            </div><!-- sidebar end -->
        </div><!--/ row end -->
    </div><!--/ container end -->
</section>