<!-- Footer bottom start -->
<section>
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-5 wow fadeInLeft">
                    <ul class="footer-bottom-menu">
                        <li><a href="index.php">À Propos</a></li>
                        <li><a href="contact.php">Nous Joindre</a></li>
                    </ul>
                </div>
                <div class="col-md-2">
                    <a id="back-to-top" href="index.html#" class="scroll-up back-to-top" role="button" title="Vers le haut de page" data-toggle="tooltip" data-placement="left">
                        <img class="wow flipInY" src="images/to-top.png" alt="to top">
                    </a>
                </div>
                <div class="col-md-5 wow fadeInRight">
                    <div class="copyright-info">
                        &copy; Copyright 2015 <span>Designed &amp; developed by- <a href="http://www.servicize.com" target="_blank">Servicize</a></span>
                    </div>
                </div>
            </div><!-- Row end -->
        </div><!-- Container end -->
    </div><!-- Footer bottom end -->
</section>