<!-- Service box start -->
<section id="service" class="wow fadeInUp">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-3">
                <div class="service-content">
                    <a href="index.php#.">
                        <span class="service-icon">
                            <i class="fa img-circle wow flipInX">
                                <img class="img-responsive" src="images/team/team1-min.png" width="170" height="180" alt="logo">
                            </i>
                        </span>
                    </a>
                    <h3>Céleri</h3>
                    <p>L’huile essentielle du céleri possède des propriétés stimulantes hépatique et rénale, drainante, sédative et anti-pigmentaire. </p>
		</div>
            </div><!--/ End first service -->
            <div class="col-md-3 col-sm-3">
                <div class="service-content">
                    <a href="index.php#.">
                        <span class="service-icon">
                            <i class="fa img-circle wow flipInX">
                                <img class="img-responsive" src="images/team/team2-min.png" width="170" height="180" alt="logo">
                            </i>
                        </span>
                    </a>
                    <h3>Fenouil Commun</h3>
                    <p>L’huile essentielle du fenouil est antibactérienne, antimycosique et antispasmodique. </p>
                </div>
            </div><!--/ End 2nd service -->
            <div class="col-md-3 col-sm-3">
                    <div class="service-content">
                        <a href="index.php#.">
                            <span class="service-icon">
                                <i class="fa img-circle wow flipInX">
                                    <img class="img-responsive" src="images/team/team3-min.png" width="170" height="180" alt="logo">
                                </i>
                            </span>
                        </a>
                        <h3>Carvi</h3>
                        <p>L’huile essentielle  du carvi est antispasmodique, anticatarrhale et mucolytique. </p>
                    </div>
            </div><!--/ End 3rd service -->
            <div class="col-md-3 col-sm-3">
                <div class="service-content last">
                    <a href="index.html#.">
                        <span class="service-icon">
                            <i class="fa img-circle wow flipInX">
                                <img class="img-responsive" src="images/team/team4-min.png" width="170" height="180" alt="logo">
                            </i>
                        </span>
                    </a>
                    <h3>Coriandre</h3>
                    <p>L’huile essentielle de la coriandre a des propriétés antibactérienne, antivirale, antifongique, calmante, sédative et stupéfiante à forte dose. </p>
                </div>
            </div><!--/ End 4th service -->
        </div>
    </div>
</section><!-- Service box end -->