<!-- Service box start -->
<section id="service" class="wow fadeInUp">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-3">
                <div class="service-content">
                    <a href="index.php#.">
                        <span class="service-icon">
                            <i class="fa fa-flask img-circle wow flipInX"></i>
                        </span>
                    </a>
                    <h3>AROMES</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ultricies vestibulum Graphic river molestie.</p>
		</div>
            </div><!--/ End first service -->
            <div class="col-md-3 col-sm-3">
                <div class="service-content">
                    <a href="index.php#."><span class="service-icon"><i class="fa fa-flask img-circle wow flipInX"></i></span></a>
                    <h3>AROMES</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ultricies vestibulum Graphic river molestie.</p>
                </div>
            </div><!--/ End 2nd service -->
            <div class="col-md-3 col-sm-3">
                    <div class="service-content">
                        <a href="index.php#."><span class="service-icon"><i class="fa fa-flask img-circle wow flipInX"></i></span></a>
                        <h3>AROMES</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ultricies vestibulum Graphic river molestie.</p>
                    </div>
            </div><!--/ End 3rd service -->
            <div class="col-md-3 col-sm-3">
                <div class="service-content last">
                    <a href="index.html#.">
                        <span class="service-icon">
                            <i class="fa fa-flask img-circle wow flipInX"></i>
                        </span>
                    </a>
                    <h3>AROMES</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ultricies vestibulum Graphic river molestie.</p>
                </div>
            </div><!--/ End 4th service -->
        </div>
    </div>
</section><!-- Service box end -->